@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@500;600;800&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
.wrapper {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#secao-inicial{
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;    
}
#secao-inicial img{
    width: 200px;
}

.botao-inicial a{
    padding: 0px 5px;
}

#agnd{
    background-color: aqua;
    color: white;
    padding: 5px 20px ;
    border-radius: 5px;
}
#conteudo-inicial{
    background-color: black;
    color: white;
    font-family: 'Faustina', sans-serif;
    flex-direction: column;
}
h1{
    font-size: 64px;
    font-weight: 800;
    text-align: center;
}